# environment directory
*-env
.vscode

# cache
__pycache__

#checkpoint
*.pth
*.pt

# data
data/

# job dir
jobs/
job/
output_dir/
log_dir/
./debug_info_mail.*
debug_info_mail.py

eval/
debug_info_mail.py
sandbox/
demo/

/slurm
/slurm/*

*.sh
*.ps1